/*Main de Envios*/

#main_envios{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 0,5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "h1e h1e"
      "info info"
      "map map"; 
    .caja_h1e{
        grid-area: h1e;
        background-color: map-get($textos, c3);
        border-bottom: solid 2px rgb(93, 38, 40);
        display: flex;
        justify-content: center;
        h1{
            text-align: center;
            background-color: map-get($textos, c2);
            border: dashed 3px rgb(93, 38, 40);
            padding: 10px;
            width: 65%; 
        
        }
    }
    .info_envios{
        grid-area: info;
        justify-self: center;
        text-align: center;
        h2{
            text-decoration: map-get($textos, decosi);
            }
        }
    .caja_map{
        grid-area: map;
        border: solid 2px rgb(93, 38, 40);
        justify-self: center;
        background-color: map-get($textos, c2);
        background-color: map-get($textos, c2);
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        width: fit-content;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 500px;
            text-align: center;
            h3{
                text-decoration: map-get($textos, decosi);
            }
            iframe{
                margin: 15px;
            }
        }
    }
}

/*Vista Mobile Index*/ 

@media (max-width: 576px){
    #main_envios{
        .caja_map{
            flex-direction: column;
            width: 95%;
            div{
                width: 100%;
            }
            iframe{
                width: 100%;
                margin: 10px;
            }
        }
    }
}