/*Style footer*/

footer{
    background-color: map-get($textos, c3);
    border-top: solid 2px rgb(93, 38, 40);
    height: 150px;
    @extend %flex_centrado;
    ul{
        list-style: map-get($textos, decono);
        display: flex;
        gap: 20px;
    }
    p{
        color: map-get($textos, c1);
        font-size: large;
    }
    .display_redes{
        display: flex;
        align-items: center;
    } 
}