/*Style footer*/

footer{
    background-color: rgb(247, 232, 217);
    border-top: solid 2px rgb(93, 38, 40);
    height: 150px;
    @extend %flex_centrado;
    ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    p{
        color: rgb(93, 38, 40);
        font-size: large;
    }
    .display_redes{
        display: flex;
        align-items: center;
    } 
}