/*Style Header*/

header{
    @extend %flex_centrado;
    nav{
        ul{
            padding-left: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 40px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    background-color: rgb(233, 195, 174);
                    color: rgb(93, 38, 40);
                    padding: 10px 12px 12px 13px;
                    border-radius: 10px;
                }  
            }
        }
    }
}

/*Vista Mobile Header*/

@media (max-width: 576px){
    header img{
        width: 100%;
    }
}